@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* .marks{
    background-color: aqua;
    color : black;
    margin: auto;
    padding: 20px;
} */

.btn-btn{
    justify-content: center;
    align-items : center;
    text-align: center;
}


